.navbar {
  display: flex;
  justify-content: space-between;
  border: solid black 2px; 
  height: 54px;
  
}
.home {
margin-left: 100px;
height: 50px;
width: 100px;
}

.logout {
margin-right: 100px;
height: 50px;
width: 100px;
}
.title {
  font-size: 30px;
  font-family: sans-serif;
  font-display: bold;
  color: teal;
}