.dashboard{
  background-attachment: fixed;
  background-color: rgb(204,197,185);
}

.popup{
  height: 400px;
  width: 188px;
}

.postButton{
  height: 100px;
  width: 150px;
}

.popup-content{
  height: 400px;
  width: 400px;
}

.popup-overlay{
  background-color: #ccc5b9;
}

.news-box{
  border:solid black 2px;
  position: absolute;
  justify-content: center;
  width: 500px;
  top:375px;
  right:40px;
  height: 1200px;
  overflow: auto;
}